body {
    background-color: #FAF0E6;

}
div {
    background-color: #064789;
    color: white;
}
.signup {
    padding: 20px;
}
a:visited {
    color: white;
}
#bus {
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}
table {
    width: 100%;
}
#message {
    text-align: center;
}
#dropdown {
    text-align:center;
}
#report {
    position: absolute;
    top: 30%;
    left: 4%;
    width: 120px;
    height: 280px;
    z-index: 1;
}
#time {
    font-size: 12px;
    top: 100%;
    text-align: center;
}