/* Coolors Exported Palette - coolors.co/064789-d0ccd0-fbfcff-fde50e-605856 */

/* HSL */
$color1: hsla(210%, 92%, 28%, 1);
$color2: hsla(300%, 4%, 81%, 1);
$color3: hsla(225%, 100%, 99%, 1);
$color4: hsla(54%, 98%, 52%, 1);
$color5: hsla(12%, 5%, 36%, 1);

/* RGB */
$color1: rgba(6, 71, 137, 1);
$color2: rgba(208, 204, 208, 1);
$color3: rgba(251, 252, 255, 1);
$color4: rgba(253, 229, 14, 1);
$color5: rgba(96, 88, 86, 1);